apiVersion: batch/v1
kind: Job
metadata:
  labels:
    buildkite/plugin: "k8s"
  name: {{ job_name }}
  namespace: {{ namespace }}
spec:
  backoffLimit: {{ backoff_limit }}
  completions: 1
  parallelism: 1
  completions: 1
  ttlSecondsAfterFinished: {{ ttl_seconds_after_finished }}
  template:
    metadata:
      annotations:
        cluster-autoscaler.kubernetes.io/safe-to-evict: "false"
      labels:
        buildkite/plugin: "k8s"
        build/branch: "{{ branch }}"
        build/pipeline: "{{ pipeline }}"
        app: "beam-k8s-plugin"
        build_number: "{{ build_number }}"
        src-job-id: "{{ job_id }}"
        pipeline_slug: "{{ pipeline }}"
        job-name: "{{ job_name }}"
    spec:
      activeDeadlineSeconds: {{ active_deadline_seconds }}
      restartPolicy: 'Never'
      containers:
      - args: {{ args }}
        command: {{ command }}
        workingDir: {{ working_dir }}
        env: {{ envs }}
        image: {{ image }}
        imagePullPolicy: {{ pull_policy }}
        name: step
        resources:
          limits:
            cpu: "{{ cpu_limits }}"
            memory: {{ memory_limits }}
          requests:
            cpu: "{{ cpu_limits }}"
            memory: {{ memory_limits }}
        volumeMounts: {{ volume_mounts }}
      nodeSelector:
        kubernetes.io/hostname: {{ node_name }}
      securityContext:
        runAsGroup: {{ security_gid }}
        runAsNonRoot: {{ run_as_nonroot }}
        runAsUser: {{ security_uid }}
      serviceAccount: {{ service_account }}
      volumes: {{ volumes }}
